@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

:root {
    --background-color: #333333;
    --text-color: #ffffff;
}

/* body */
body {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header */

header {
    display: inline;
}

header h1 {
    color: rgb(26, 19, 19, 0.89);
    font-family: 'Croissant One', cursive;
}

.jumbroton {
    padding: 60px;

    background-image: url('/assets/image/bg.jpeg');
    background-size: cover;

    text-align: center;
    font-size: 20px;
    color: rgb(223, 233, 178);
}


nav {
    background-color: #333;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;

}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;

}

nav a:hover {
    font-weight: bold;
}

/* main */

main {
    padding: 20px;
    display: flex;

    gap: 1.5rem;
}

main p {

    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
}

/* footer  */
footer {
    padding: 26px;
    color: rgb(255, 255, 255);
    background-color: #555555;
    text-align: center;
    font-weight: bold;

}

/* aksesoris */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    background-color: #414141;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.9%;
}

h1,
h2,
h3,
a {
    color: var(--text-color);
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

/* Media Query */
@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }


}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

}